{% extends 'base.html' %}
{% block content %}
<h2>掲示板</h2>

<!-- スレッド一覧表示 -->
<ul class="thread-list">
    <li class="thread-item"><!-- thread[0] はスレッドID -->
        <strong>タイトル : 説明 <!-- thread[1] はタイトル、thread[2] は説明 -->
    </li>
    {% for thread in threads %}
    <li class="thread-item">
        <a href="{{ url_for('home.thread', thread_id=thread[0]) }}"> <!-- thread[0] はスレッドID -->
            <strong>{{ thread[1] }} </strong>: {{ thread[2] }} <!-- thread[1] はタイトル、thread[2] は説明 -->
        </a>
    </li>
    {% endfor %}
</ul>

<!-- 新しいスレッド作成フォーム -->
<div id="input-container">
    <form action="{{ url_for('home.create_thread_route') }}" method="post">
        <input type="text" name="title" placeholder="スレッドタイトル" required>
        <textarea name="description" placeholder="スレッド説明" required></textarea>
        <button type="submit" class="submit-btn">スレッドを作成</button>
    </form>
</div>
{% endblock %}